{% extends 'html/head.html' %}
{% block title %}CRUD OPERATION{% endblock %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="card col-md-4 md-5 mx-2">
			<h3 class="p-3 bg-primary text-center text-white mt-3 border bounded">Add Item</h3>
			<form method="POST">

				{% csrf_token %}
				<input type="text" name="itemtype" class="form-control my-2" placeholder="item type">
				<input type="text" name="itemname" class="form-control my-2" placeholder="item name">
				<input type="number" name="price" class="form-control my-2" placeholder="price">
				<input type="submit" name="submit" class="btn btn-primary btn-block" value="submit">
			</form>

</div>
</div></div>
{% endblock %}