{% load static %}
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="#"><img src="{% static 'images/logo2.jpg' %}" alt="logo" style="width: 40px"></a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
   <div class="collapse navbar-collapse" id="collapsibleNavbar">
 
  
  <!-- Links -->
  <ul class="navbar-nav">
    {% if not user.is_authenticated %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'hm'%}">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">aboutus</a>
    </li>
    {% else %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'hm'%}">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'dsh' %}">dashboard</a>
    </li>
    {% endif %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'ct' %}">contactus</a>
    </li>
    
  </ul>
  <ul class="navbar-nav ml-auto" style="margin-right: 180px">
    {% if not user.is_authenticated %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'lg'%}">Login</a>
    </li>
    {% else %}
    <li class="dropdown">
    }
  <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
    {{request.user.username}}
    </a>
    }
  <div class="dropdown-menu">
    <a class="dropdown-item" href="{% url 'prof' %}">profile</a>
    <a class="dropdown-item" href="#">change password</a>
    <a class="dropdown-item" href="{% url 'logo' %}">Logout</a>
  </div>
</li>
{% endif %}
  </ul>

</div>
  </ul>
</nav>



